<form [formGroup]="calculatorForm" (ngSubmit)="submitAmount()">
  <div class="row">
    <div class="col-md-4 btnPrevious">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="getPreviousAmount()">
        Precedent montant disponible
      </button>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input
          type="number"
          formControlName="inputCalculator"
          class="form-control"
          required
          placeholder="250"
        >
        <span class="input-group-text">€</span>
      </div>
    </div>
    <div class="col-md-4">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="getNextAmount()">
        Montant suivant disponible
      </button>
    </div>
    <div class="col-md-4 offset-md-4">
      <button 
        class="btn btn-primary btn-validate"
        [disabled]="!isModified"
        type="submit">
        Valider
      </button>
    </div>
  </div>
  <div *ngIf="!!availableCards" class="row cards justify-content-center">
    <div class="col-md-2 card" *ngFor="let card of availableCards">{{ card | montantCard }}</div>
  </div>
</form>
<app-toaster aria-live="polite" aria-atomic="true"></app-toaster>